@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --background-color: #F3F5FC;
    --background-color-hover: #EFF1FA;
    --primary-color: #0A3871;
    --primary-color-hover: #072B61;
    --secondary-color: #343A40;
}

body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.header__logo {
    padding: 1.5rem 1rem;
}

.main__text-area {
    margin: 3.5rem 1rem 0 1rem;
    background-color: var(--background-color);
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    width: 90%;
    height: 300px;
    resize: none;
    outline: none;
}

.main__text-area::placeholder {
    color: var(--primary-color);
}

.main__warning {
    display: flex;
    gap: .5rem;
    margin: 0 1rem;
}

.main__warning p {
    line-height: 1.2rem;
    font-size: .75rem;
    color: var(--secondary-color);
}

.main__buttons {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1.5rem;
}

.main__buttons input {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 2rem;
    border-radius: 24px;
    cursor: pointer;
}

.main__buttons input:hover {
    background-color: var(--primary-color-hover);
}

.main__buttons input:nth-child(2) {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.main__buttons input:nth-child(2):hover {
    background-color: var(--background-color-hover);
}


.main__output-warning {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin: 4rem 1.5rem 2.5rem 1.5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 32px;
    color: var(--secondary-color);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.main__output-warning h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
}

.main__output-warning p {
    line-height: 1.5rem;
}

.main__output-warning img {
    display: none;
}

.invalid-characters {
    display: none;
}

.warning-list {
    list-style: square;
    text-align: left;
}

.main__decryption-area {
    display: none;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    margin: 4rem 1.5rem 2.5rem 1.5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 32px;
    color: var(--secondary-color);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    white-space: pre-wrap;
}

.main__decryption-area p {
    word-wrap: break-word;
    line-height: 2.3rem;
    color: var(--secondary-color);
}

.main__decryption-area .copy-button {
    display: none;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 24px;
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
}

.main__decryption-area .copy-button:hover {
    background-color: var(--background-color-hover);
}

.main__output-text {
    font-size: 1.5rem;
}


@media screen and (min-width: 768px) {
    body {
        padding: 0 2.5rem
    }

    .main__text-area {
        height: 60vh;
    }

    .main__buttons {
        flex-direction: row;
    }

    .main__buttons input {
        width: 100%;
    }

    .main__decryption-area {
        margin: 4rem 1rem 2.5rem 1rem;
    }
}

@media screen and (min-width: 1366px) {
    body {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    header {
        margin: 2.5rem;
    }

    .header__logo {
        padding: 0 2.75rem;
    }

    main {
        display: flex;
        flex-direction: column;
        padding-left: 10rem;
    }

    body,
    main {
        height: 73vh;
    }

    .main__text-area {

        margin: 0;
    }

    .main__warning,
    .main__buttons {
        margin-left: 0;
        margin-right: 0;
    }

    .main__buttons input {
        width: 328px;
    }

    .main__output-warning {
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .main__output-warning,
    .main__decryption-area {
        margin: 2.5rem;
        width: 350px;
        height: 530px;
    }

    .main__output-warning p,
    .main__output-warning h3 {
        padding: 0 2rem;
    }

    .main__output-warning img {
        display: block;
        width: 300px;
    }

    .warning-img {
        width: 150px;
        height: 150px;
        margin-bottom: 1.5rem;
    }

    .main__decryption-area {
        padding: 2rem;
        overflow-y: scroll;
        justify-content: space-between;
    }

    .main__decryption-area .copy-button {
        display: block;
        margin-top: 2.5rem;
    }

}

@media screen and (min-width:2560px) {
    main {
        display: flex;
        flex-direction: column;
        padding-left: 15rem;
    }

    .main__output-warning,
    .main__decryption-area {
        margin: 2.5rem 15rem;
        width: 400px;
        height: 944px;
    }

}